<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:x2="http://www.w3.org/2002/06/xhtml2">
	<head>
		<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="assets/page/css/bootstrap_reset.css" />
		<link rel="stylesheet" type="text/css" href="assets/page/css/background.css" />
		<link rel="stylesheet" type="text/css" href="assets/page/css/style.css" />
		<link rel="stylesheet" type="text/css" href="assets/page/css/style_adt.css" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="assets/page/css/style_IE8.css" />
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="assets/page/css/style_responsive.css" />
		<link rel="stylesheet" type="text/css" href="assets/fonts/css/font-awesome.min.css" />
		
		<!--script type="text/javascript" src="assets/jquery/jquery-2.1.4.js"></script-->
		<script type="text/javascript" src="assets/jquery/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
		
		<link rel="stylesheet" type="text/css" href="assets/vendor/owl.carousel/assets/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="assets/vendor/owl.carousel/assets/owl.default.theme.css" />
		<script type="text/javascript" src="assets/vendor/owl.carousel/owl.carousel.js"></script>
		
		<link rel="stylesheet" type="text/css" href="assets/vendor/datatables.1.10/css/jquery.dataTables.css" />
		<link rel="stylesheet" type="text/css" href="assets/vendor/datatables.1.10/css/dataTables.bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="assets/vendor/datatables.1.10/css/dataTables.responsive.css" />
		<script type="text/javascript" src="assets/vendor/datatables.1.10/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="assets/vendor/datatables.1.10/js/dataTables.bootstrap.js"></script>
		<script type="text/javascript" src="assets/vendor/datatables.1.10/js/dataTables.responsive.js"></script>
		
		
		<script type="text/javascript" src="assets/page/js/funct.js"></script>
	</head>
	<body class="wall_1">
		<div id="container">
			<div id="header_template">
			</div>
			<section id="main-content">
				<section class="wrapper">
					<div class="row">
						<div class="owl-carousel">
							<div class="box col-md-12">
								<section class="widget widget-2x widget-shadow bg-tp-black-2">
									<div class="widget-header bg-tp-white-3">
										<h4>Header 1</h4>
										<div class="controls">
											<a href="#">
												<i class="fa fa-bookmark"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="front bg-default" style="">
											test
										</div>
									</div>
								</section>
							</div>
							<div class="box col-md-12">
								<section class="widget widget-2x widget-shadow bg-tp-black-2">
									<div class="widget-header bg-tp-white-3">
										<h4>Header 2</h4>
										<div class="controls">
											<a href="#">
												<i class="fa fa-bookmark"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="front bg-default" style="">
											test
										</div>
									</div>
								</section>
							</div>
							<div class="box col-md-12">
								<section class="widget widget-2x widget-shadow bg-tp-black-2">
									<div class="widget-header bg-tp-white-3">
										<h4>Header 3</h4>
										<div class="controls">
											<a href="#">
												<i class="fa fa-bookmark"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="front bg-default" style="">
											test
										</div>
									</div>
								</section>
							</div>
							<div class="box col-md-12">
								<section class="widget widget-2x widget-shadow bg-tp-black-2">
									<div class="widget-header bg-tp-white-3">
										<h4>Header 4</h4>
										<div class="controls">
											<a href="#">
												<i class="fa fa-bookmark"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="front bg-default" style="">
											test
										</div>
									</div>
								</section>
							</div>
							<div class="box col-md-12">
								<section class="widget widget-2x widget-shadow bg-tp-black-2">
									<div class="widget-header bg-tp-white-3">
										<h4>Header 5</h4>
										<div class="controls">
											<a href="#">
												<i class="fa fa-bookmark"></i>
											</a>
										</div>
									</div>
									<div class="widget-body">
										<div class="front bg-default" style="">
											test
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="owl-carousel">
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
						</div>
					</div>
					<div class="row">
						<div class="owl-carousel">
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
							<div class="box col-md-12"><section class="widget widget-2x widget-shadow bg-tp-black-2"><div class="widget-body"></div></section></div>
						</div>
					</div>
					
				</section>
			</section>
		</div>
	</body>
</html>
