<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:x2="http://www.w3.org/2002/06/xhtml2">
	<head>
		<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="assets/page/css/bootstrap_reset.css" />
		<link rel="stylesheet" type="text/css" href="assets/page/css/background.css" />
		<link rel="stylesheet" type="text/css" href="assets/page/css/style.css" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="assets/page/css/style_IE8.css" />
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="assets/page/css/style_responsive.css" />
		<link rel="stylesheet" type="text/css" href="assets/fonts/css/font-awesome.min.css" />
		
		<!--script type="text/javascript" src="assets/jquery/jquery-2.1.4.js"></script-->
		<script type="text/javascript" src="assets/jquery/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/page/js/funct.js"></script>
	</head>
	<body class="wall_1">
		<div id="container">
			
		</div>
	</body>
</html>
