<div class="right-sidebar">
	<div class="right-stat-bar" style="overflow: hidden;" tabindex="5001">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading"  data-toggle="collapse" data-target="#collapseOne">
					<h4 class="panel-title">
						1. What is HTML
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						<p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
					<h4 class="panel-title">
						2. What is Bootstrap
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions.</p>
					</div>
				</div>
			</div>
		</div>
		<!--ul class="right-side-accordion">
			<li class="widget-collapsible">
				<a class="head widget-head red-bg active clearfix" href="#">
					<span class="pull-left">work progress (5)</span>
					<span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
				</a>
			</li>
		</ul-->
	</div>
</div>